  * {
            box-sizing: border-box;
        }

        body {
            padding: 2rem;
        }

        form {
            max-width: 30rem;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        label {
            margin-bottom: 0.2rem;
            font-weight: bold;
        }

        input, select, textarea, button {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
        }

        input[type="checkbox"] {
            width: auto;
        }

        button {
            background-color: #28a745;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #218838;
        }

        
        input:invalid, textarea:invalid {
            border-color: red;
        }

        input:invalid:focus, textarea:invalid:focus {
            outline: solid 2px red;
            border-color: red;
            box-shadow: 0 0 5px red;
        }

        
        .checkmark {
            display: flex;
            align-items: center;
        }

        .checkmark input {
            margin-right: 1rem;
        }

        .error {
            color: red;
            font-size: 0.9em;
        }